$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
    background-color:  #f88300;
    color: ivory;
  }
}
h3 {
  text-align: center;
}
.logo-small{
  margin-top: 7%;
}
.Pool {
  text-align: center;
}
.main-container{
  background-image: url(https://images.unsplash.com/photo-1550653515-ff15585d709c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-size: contain;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  
  // width: 90%;
}
.customers-container {
  color: black;
  background-color: rgba($color: #fff, $alpha: 0.7);
  width: 40%;
  height: 75vh;
  margin: 2rem;
  border-radius: 10px;
}
.cars-container {
  color: black;
  background-color: rgba($color: #fff, $alpha: 0.7);
  width: 40%;
  height: 75vh;
  margin: 2rem;
  border-radius: 10px;
}