body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #383838;
  
}

.alert {
  margin: 30px;
}
button {
  background-color:  #f88300;
  color: ivory;
  height: 30px;
  // margin: 5%;

}
